@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
}

header {
  background-color: #08aeea;
  background-image: linear-gradient(66deg, #08aeea 0%, #2af598 100%);
}

a {
  color: inherit;
  text-decoration: none;
}
